<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ziapond.portfolio.project.repository.StockMapper">
    <!-- 공통 WHERE 절 -->
    <sql id="stockWhere">
        <where>
            <if test="symbol != null and symbol != ''">
                AND symbol = #{symbol}
            </if>
            <if test="name != null and name != ''">
                AND name ILIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="mrktctg != null and mrktctg != ''">
                AND mrktctg = #{mrktctg}
            </if>
            <if test="from != null and to != null">
                AND basdt BETWEEN #{from} AND #{to}
            </if>
            <if test="from != null and to == null">
                AND basdt &gt;= #{from}
            </if>
            <if test="from == null and to != null">
                AND basdt &lt;= #{to}
            </if>
        </where>
    </sql>
    <!-- 단건 업서트 -->
    <insert id="upsertStock" parameterType="com.ziapond.portfolio.project.domain.StockTable">
        INSERT INTO stock_table (
            symbol, name, basdt, isincd, mrktctg, crno, corpnm
        ) VALUES (
            #{r.symbol}, #{r.name}, #{r.basdt}, #{r.isincd}, #{r.mrktctg}, #{r.crno}, #{r.corpnm}
        )
        ON CONFLICT (symbol, basdt) DO UPDATE SET
            name    = EXCLUDED.name,
            isincd  = EXCLUDED.isincd,
            mrktctg = EXCLUDED.mrktctg,
            crno    = EXCLUDED.crno,
            corpnm  = EXCLUDED.corpnm
    </insert>

    <!-- 다건 업서트-->
    <insert id="upsertStocks" parameterType="java.util.List">
        INSERT INTO stock_table (
            symbol, name, basdt, isincd, mrktctg, crno, corpnm
        ) VALUES
        <foreach collection="list" item="r" separator=",">
            (#{r.symbol}, #{r.name}, #{r.basdt}, #{r.isincd}, #{r.mrktctg}, #{r.crno}, #{r.corpnm})
        </foreach>
        ON CONFLICT (symbol, basdt) DO UPDATE SET
            name    = EXCLUDED.name,
            isincd  = EXCLUDED.isincd,
            mrktctg = EXCLUDED.mrktctg,
            crno    = EXCLUDED.crno,
            corpnm  = EXCLUDED.corpnm
    </insert>

    <select id="findBySymbolAndRange" resultType="com.ziapond.portfolio.project.domain.StockTable">
        SELECT p.symbol, p.name, p.basdt, p.isincd, p.mrktctg, p.crno, p.corpnm
            FROM stock_table p
        WHERE p.symbol = #{symbol}
            AND p.basdt BETWEEN #{from} AND #{to}
            ORDER BY p.basdt
    </select>



    <!-- 목록 조회 (페이징) -->
    <select id="searchStocks" resultType="com.ziapond.portfolio.project.domain.StockTable">
        SELECT symbol, name, basdt, isincd, mrktctg, crno, corpnm
        FROM stocks.stock_table
        <include refid="stockWhere"/>
        ORDER BY basdt DESC
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <!-- 총 개수 -->
    <select id="countStocks" resultType="long">
        SELECT COUNT(1)
        FROM stocks.stock_table
        <include refid="stockWhere"/>
    </select>

</mapper>
