<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ziapond.portfolio.common.mappers.InvestorFlowMapper">
    <insert id="upsertInvestorFlows">
        INSERT INTO stocks.investor_flow (
        symbol,
        stck_bsop_date,
        stck_clpr,
        prdy_vrss,
        prdy_vrss_sign,
        prsn_ntby_qty,
        frgn_ntby_qty,
        orgn_ntby_qty,
        prsn_ntby_tr_pbmn,
        frgn_ntby_tr_pbmn,
        orgn_ntby_tr_pbmn,
        prsn_shnu_vol,
        frgn_shnu_vol,
        orgn_shnu_vol,
        prsn_shnu_tr_pbmn,
        frgn_shnu_tr_pbmn,
        orgn_shnu_tr_pbmn,
        prsn_seln_vol,
        frgn_seln_vol,
        orgn_seln_vol,
        prsn_seln_tr_pbmn,
        frgn_seln_tr_pbmn,
        orgn_seln_tr_pbmn
        )
        VALUES
        <foreach collection="list" item="r" separator=",">
            (
            #{r.symbol},
            #{r.stck_bsop_date},
            #{r.stck_clpr},
            #{r.prdy_vrss},
            #{r.prdy_vrss_sign},
            #{r.prsn_ntby_qty},
            #{r.frgn_ntby_qty},
            #{r.orgn_ntby_qty},
            #{r.prsn_ntby_tr_pbmn},
            #{r.frgn_ntby_tr_pbmn},
            #{r.orgn_ntby_tr_pbmn},
            #{r.prsn_shnu_vol},
            #{r.frgn_shnu_vol},
            #{r.orgn_shnu_vol},
            #{r.prsn_shnu_tr_pbmn},
            #{r.frgn_shnu_tr_pbmn},
            #{r.orgn_shnu_tr_pbmn},
            #{r.prsn_seln_vol},
            #{r.frgn_seln_vol},
            #{r.orgn_seln_vol},
            #{r.prsn_seln_tr_pbmn},
            #{r.frgn_seln_tr_pbmn},
            #{r.orgn_seln_tr_pbmn}
            )
        </foreach>
        ON CONFLICT (symbol, stck_bsop_date) DO UPDATE SET
        stck_clpr          = EXCLUDED.stck_clpr,
        prdy_vrss          = EXCLUDED.prdy_vrss,
        prdy_vrss_sign     = EXCLUDED.prdy_vrss_sign,
        prsn_ntby_qty      = EXCLUDED.prsn_ntby_qty,
        frgn_ntby_qty      = EXCLUDED.frgn_ntby_qty,
        orgn_ntby_qty      = EXCLUDED.orgn_ntby_qty,
        prsn_ntby_tr_pbmn  = EXCLUDED.prsn_ntby_tr_pbmn,
        frgn_ntby_tr_pbmn  = EXCLUDED.frgn_ntby_tr_pbmn,
        orgn_ntby_tr_pbmn  = EXCLUDED.orgn_ntby_tr_pbmn,
        prsn_shnu_vol      = EXCLUDED.prsn_shnu_vol,
        frgn_shnu_vol      = EXCLUDED.frgn_shnu_vol,
        orgn_shnu_vol      = EXCLUDED.orgn_shnu_vol,
        prsn_shnu_tr_pbmn  = EXCLUDED.prsn_shnu_tr_pbmn,
        frgn_shnu_tr_pbmn  = EXCLUDED.frgn_shnu_tr_pbmn,
        orgn_shnu_tr_pbmn  = EXCLUDED.orgn_shnu_tr_pbmn,
        prsn_seln_vol      = EXCLUDED.prsn_seln_vol,
        frgn_seln_vol      = EXCLUDED.frgn_seln_vol,
        orgn_seln_vol      = EXCLUDED.orgn_seln_vol,
        prsn_seln_tr_pbmn  = EXCLUDED.prsn_seln_tr_pbmn,
        frgn_seln_tr_pbmn  = EXCLUDED.frgn_seln_tr_pbmn,
        orgn_seln_tr_pbmn  = EXCLUDED.orgn_seln_tr_pbmn
    </insert>

    <!-- 최신 날짜/시간 내림차순 + 페이징 -->
    <select id="searchMarketFlows" resultType="com.ziapond.portfolio.project.web.dto.InvestorFlowRow">
        SELECT
        ymd,
        bucket_start AS bucketStart,
        market_code  AS marketCode,
        NULL         AS symbol,
        investor_type_code AS investorTypeCode,
        investor_type_name AS investorTypeName,
        net_qty      AS netQty,
        net_amt      AS netAmt,
        acml_net_qty AS acmlNetQty,
        acml_net_amt AS acmlNetAmt
        FROM stocks.investor_flow_30m
        <where>
            <if test="marketCode != null and marketCode != ''">
                AND market_code = #{marketCode}
            </if>
            <if test="investorType != null and investorType != ''">
                AND investor_type_code = #{investorType}
            </if>
            <if test="from != null and to != null">
                AND ymd BETWEEN #{from} AND #{to}
            </if>
            <if test="from != null and to == null">
                AND ymd &gt;= #{from}
            </if>
            <if test="from == null and to != null">
                AND ymd &lt;= #{to}
            </if>
        </where>
        ORDER BY ymd DESC, bucket_start DESC
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="countMarketFlows" resultType="long">
        SELECT COUNT(1)
        FROM stocks.investor_flow_30m
        <where>
            <if test="marketCode != null and marketCode != ''">
                AND market_code = #{marketCode}
            </if>
            <if test="investorType != null and investorType != ''">
                AND investor_type_code = #{investorType}
            </if>
            <if test="from != null and to != null">
                AND ymd BETWEEN #{from} AND #{to}
            </if>
            <if test="from != null and to == null">
                AND ymd &gt;= #{from}
            </if>
            <if test="from == null and to != null">
                AND ymd &lt;= #{to}
            </if>
        </where>
    </select>

</mapper>
