<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ziapond.portfolio.common.mappers.StockDataMapper">
    <insert id="upsertAll" parameterType="java.util.List">
        INSERT INTO stocks.stock_data(symbol, bucket_start, "open", high, low, "close", volume)
        SELECT DISTINCT ON (symbol, bucket_start)
        symbol,
        bucket_start,
        "open",
        high,
        low,
        "close",
        volume
        FROM (
        VALUES
        <trim suffixOverrides=",">
            <foreach collection="list" item="r">
                <foreach collection="r.tick" item="t">
                    (#{r.symbol},
                    #{t.tsKst,jdbcType=TIMESTAMP},
                    #{t.open},
                    #{t.high},
                    #{t.low},
                    #{t.close},
                    #{t.volume}),
                </foreach>
            </foreach>
        </trim>
        ) AS v(symbol, bucket_start, "open", high, low, "close", volume)
        ORDER BY symbol, bucket_start
        ON CONFLICT (symbol, bucket_start) DO UPDATE SET
        "open"  = EXCLUDED."open",
        high    = EXCLUDED.high,
        low     = EXCLUDED.low,
        "close" = EXCLUDED."close",
        volume  = EXCLUDED.volume
    </insert>


    <select id="getStockData" resultType="com.ziapond.portfolio.common.domain.StockData">
        SELECT
            symbol,
            (bucket_start AT TIME ZONE 'Asia/Seoul') AS bucketStart,
            "open" AS open, high, low, "close" AS close, volume
        FROM stocks.stock_data
        WHERE symbol = #{req.symbol}
        <if test="req.from != null"> AND bucket_start <![CDATA[>=]]> #{req.from} </if>
        <if test="req.to != null">   AND bucket_start <![CDATA[<]]>  #{req.to} </if>
            ORDER BY bucket_start
    </select>

</mapper>
